# GA Data Science 19 (DAT19) - Class 5
## Developing Mastery of Pandas, Numpy & Bokeh
####  

Justin Breucop (with parts from Craig Sakuma)

## Lab goals

- NumPy: Entering the Matrix
- Pandas: DataFrames as Bamboo
- Bokeh: Picture-Perfect Visuals

##NumPy
As we've seen in lecture, linear algebra is the branch of mathematics describing navigation between different vector spaces. This core concept is very important as a big piece of data cleansing is converting data into various formats and certain algorithms require data to be in a specific shape.

NumPy is a package designed to be used in scientific computing, and specifically around building N-dimensional array objects.

###Creating an array

In [2]:
import numpy as np
a = np.arange(25).reshape(5,5)
# arange(n) is a function that creates a 1 row array of integers of length n 
# reshape(M,N) is a method converts a list to a matrix of size MxN
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

We can convert from lists to arrays. Note however unlike lists, elements of an array all have to be of the same datatype.

In [3]:
alist = [[ 0,  1,  2,  3,  4],[ 5,  6,  7,  8,  9],[10, 11, 12, 13, 14],[15, 16, 17, 18, 19],[20, 21, 22, 23, 24]]
type(alist)

list

In [4]:
np.array(alist)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [5]:
biga = a*10
biga

array([[  0,  10,  20,  30,  40],
       [ 50,  60,  70,  80,  90],
       [100, 110, 120, 130, 140],
       [150, 160, 170, 180, 190],
       [200, 210, 220, 230, 240]])

In [6]:
print biga.mean()
print biga.mean(0) #Average per column
biga.mean(1) #average per row
# type(biga.mean(1))

120.0
[ 100.  110.  120.  130.  140.]

array([  20.,   70.,  120.,  170.,  220.])

In [7]:
bigm = np.matrix(biga-20)
bigm

matrix([[-20, -10,   0,  10,  20],
        [ 30,  40,  50,  60,  70],
        [ 80,  90, 100, 110, 120],
        [130, 140, 150, 160, 170],
        [180, 190, 200, 210, 220]])

In [8]:
np.linalg.inv(biga-20)

array([[ -2.81474977e+13,  -1.52777778e-03,   5.62949953e+13,
         -2.22222222e-02,  -2.81474977e+13],
       [  3.51843721e+13,   2.25000000e-02,  -5.27765581e+13,
         -3.51843721e+13,   5.27765581e+13],
       [ -4.22212465e+13,   9.38249922e+13,  -7.97512434e+13,
          4.69124961e+13,  -1.87649984e+13],
       [  9.14793674e+13,  -1.87649984e+14,   9.26521798e+13,
          1.17281240e+13,  -8.20968682e+12],
       [ -5.62949953e+13,   9.38249922e+13,  -1.64193736e+13,
         -2.34562481e+13,   2.34562481e+12]])

####Slices

In [9]:
bigm = np.array(bigm)
bigm[0]

array([-20, -10,   0,  10,  20])

In [10]:
#Same thing, but demonstrating the full slice with a colon
biga[0,:]
biga

array([[  0,  10,  20,  30,  40],
       [ 50,  60,  70,  80,  90],
       [100, 110, 120, 130, 140],
       [150, 160, 170, 180, 190],
       [200, 210, 220, 230, 240]])

In [11]:
biga[:,3]

array([ 30,  80, 130, 180, 230])

Slice rules work for even more complex dimensional data

In [12]:
compa = np.arange(30).reshape(5,3,2)
compa

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]],

       [[24, 25],
        [26, 27],
        [28, 29]]])

In [13]:
# lets describe it
print compa.shape
print compa.ndim
print compa.dtype

(5, 3, 2)
3
int64

In [14]:
compa[3,:,1]

array([19, 21, 23])

In [15]:
compa[0,0,0]

0

In [16]:
compa[0,0,0] = 5.9
compa[0,0,0]

5

Numpy tries to resolve conflicting datatypes, sometimes to our dismay

In [17]:
compa = compa.astype(float)
compa[0,0,0] = 5.75
compa[0,0,0]

5.75

####Random Numbers
Random numbers are very helpful and are necessary at times for testing data pipelines and running statistical analyses. Functions for creating random values are under numpy.random.

In [18]:
#Create a randomized array
rm = np.random.rand(5,5)
rm

array([[ 0.06226641,  0.95665135,  0.46827399,  0.2427112 ,  0.47434172],
       [ 0.18247737,  0.60976041,  0.46734913,  0.64480892,  0.24792044],
       [ 0.34452467,  0.88275608,  0.77202249,  0.91734741,  0.02260563],
       [ 0.36348068,  0.91352437,  0.13565747,  0.14893689,  0.72795279],
       [ 0.65599209,  0.73576685,  0.73779775,  0.73088728,  0.54035326]])

In [21]:
rm.shape

(5, 5)

In [24]:
print rm.mean()
print rm.mean(0) #Average per column
print rm.mean(1) #average per row

0.519446667096
[ 0.32174824  0.81969181  0.51622017  0.53693834  0.40263477]

In [25]:
# for a different Normal Distribution, use np.random.normal
rm = np.random.normal(5,9,(30,30))
rm

array([[  8.80656027e-01,  -3.45223416e+00,   9.66394315e+00,
         -1.37379422e+01,  -7.17104416e-01,   2.33143985e-01,
          6.63507034e+00,   5.99998456e+00,  -9.20698490e+00,
         -7.82286985e+00,  -3.98236711e+00,  -9.85569637e+00,
         -8.43791861e-01,   5.89656478e+00,   5.76624484e+00,
          2.37108282e+01,  -7.48748129e-01,   3.80661130e+00,
         -1.24478972e+01,   1.72016606e+01,  -2.72753249e+00,
          6.68919423e+00,   3.69006599e+00,   1.49038037e+00,
         -6.23376543e+00,  -5.42336508e+00,   1.02099451e+01,
          6.45077724e+00,   1.64840206e+01,  -2.05880211e+00],
       [ -1.25273851e+01,   3.47593194e+00,   4.93660292e+00,
          1.03447283e+01,   2.05065583e+01,  -1.98459660e+01,
          1.20177606e+01,   1.21003742e+01,   1.08443901e+01,
          6.53994814e+00,  -2.64320733e+00,   2.85659060e+01,
          6.99913154e-01,   3.38643046e+00,   1.13306531e+01,
         -3.99077806e-01,  -1.07736023e+01,  -6.70780661e+00,
          1.36548351e+01,   9.03610478e+00,   8.00274519e+00,
          2.10778664e+01,   1.73722364e+01,   1.08503358e+01,
          1.10063222e+01,   3.45244799e+00,  -5.75330458e+00,
          8.13949774e+00,   2.06523701e+00,   1.15678112e+01],
       [  1.20369952e+01,   7.74330287e+00,   1.45917490e+00,
          4.23074475e-01,   8.92281379e+00,   1.51719855e+01,
         -4.54852444e+00,   7.05393059e+00,  -3.94831885e+00,
          1.42388899e+01,   2.31897218e+01,  -1.09308502e+01,
          1.15293769e+01,   1.76983845e+01,  -3.96874394e+00,
          8.14240046e-01,  -7.97976447e-01,   1.28443796e+01,
          1.34364892e+01,   6.51459944e+00,  -6.45301302e+00,
          1.61665854e+01,   2.33846240e+01,   3.57358827e+00,
          9.86685083e+00,   6.32728507e+00,   3.53879380e+00,
          9.55178447e+00,   5.24756315e+00,  -7.35722645e+00],
       [  1.05431147e+01,   1.98185513e+01,  -2.21597950e-01,
          9.50704393e+00,   9.61727250e+00,  -5.17599730e-01,
          9.74177127e+00,  -1.19032768e+00,   4.08690270e+00,
          2.14338557e+00,   9.40751059e+00,   6.88861249e+00,
          1.37513987e+01,  -9.24469124e+00,   1.77177829e+01,
         -4.12274566e+00,   3.87877833e+00,  -6.23073419e+00,
         -4.71129649e+00,  -1.95912078e+00,   1.26688193e+01,
          1.52284366e+01,   8.26525725e+00,   1.15269041e+01,
          4.50136977e+00,   1.46860165e+01,   5.93572210e+00,
          2.88945996e+00,   4.31477728e+00,  -7.78153572e+00],
       [  1.87430929e+00,   1.10874840e+01,  -1.46800186e+01,
         -2.09240895e+00,   1.20077085e-01,   5.86717738e-01,
          1.54075523e+01,   8.59640411e+00,   6.47737153e+00,
         -1.16998872e+00,   5.64877214e+00,  -5.96914496e-03,
         -1.41193205e+01,   7.82365604e+00,   4.62897066e+00,
          6.72582816e+00,   2.39229259e+01,  -1.55491700e+01,
          1.26781637e+00,   3.62672653e+00,  -3.21683654e+00,
          1.29895633e+01,  -1.44769414e+00,  -4.48741230e-01,
          9.07389383e+00,  -9.87391355e+00,   2.65955384e+00,
          2.06458887e+01,   5.07811812e+00,   5.41973819e+00],
       [  1.18078722e+01,   1.78148173e+00,   1.08098887e+01,
          1.84209007e+01,  -4.23276246e+00,   5.81686956e+00,
          1.68200472e+01,   6.71090683e+00,   6.60473434e+00,
         -4.51919827e-01,   1.38836816e+01,  -8.29853227e+00,
          1.18918624e+01,   9.64267171e+00,  -2.53915390e+00,
          3.67811807e+00,   2.64616377e+00,   1.37390994e+01,
          2.42723539e+01,   7.89786440e+00,  -4.14078543e+00,
          1.92622173e+01,  -2.69708816e+00,  -9.84288998e+00,
          7.07151881e+00,   1.76265580e+00,   7.65074624e+00,
          1.54370892e+01,   4.18915770e+00,   4.56210115e+00],
       [  3.82731290e-01,  -2.25028324e+00,   8.10742777e+00,
         -5.40282972e+00,   4.65161129e+00,   5.75309209e+00,
          2.59365880e+00,   2.11801117e+01,   9.11162151e+00,
          9.20328201e+00,  -2.14662007e+00,   7.33504219e+00,
          2.21429389e+00,   8.22025499e+00,   4.70194542e+00,
          1.62978680e+00,   9.21244002e+00,  -1.75599311e+00,
         -1.81694430e+00,   1.47471600e+01,  -1.30292385e+01,
         -1.87286283e+00,  -7.34298983e+00,  -8.40135627e+00,
          1.13072191e+01,   1.80165342e+01,   1.62621348e+01,
         -3.72379830e+00,  -1.63289844e+01,   1.47800712e+00],
       [  1.37342314e+01,   4.69673159e+00,   3.99570133e-01,
          6.28526035e+00,   3.77987473e+00,   1.23824590e+01,
         -2.32052836e+00,   1.94092112e+01,  -2.69359801e+00,
          1.78790330e+01,  -6.46219718e-01,   1.57618325e+01,
          2.22859640e+01,   4.91467608e+00,   3.16208199e+00,
          1.64315108e+01,   9.93901623e+00,   2.27049828e+01,
          1.19350472e+01,  -2.46992522e+00,   2.88952025e+00,
         -6.42251068e-01,  -2.12129620e+00,   3.15530388e+00,
         -8.56029522e+00,  -5.08576906e+00,   1.90655661e+01,
         -4.56322541e-01,  -1.43952878e+00,   2.23932748e+01],
       [  1.42418387e+01,  -1.11232426e+00,   1.18956029e+00,
         -7.43036710e-01,  -8.20508167e+00,   6.49903387e+00,
          6.46924391e+00,  -8.64210650e+00,   7.11085729e+00,
         -1.68112033e+01,  -3.04577526e+00,  -5.10973792e+00,
          1.01543384e+01,  -1.11100691e+01,   5.04176228e+00,
         -2.19400766e+00,  -5.00353889e-01,   2.19011170e+00,
          1.22462155e+01,   4.23698559e+00,   1.65659798e+01,
         -2.07985051e+01,   4.42810664e+00,   3.31664737e+00,
          3.95110333e+00,  -1.14634412e+01,   8.73288253e+00,
          5.63316895e+00,   2.20949412e+01,   1.89234688e+01],
       [  4.34924378e+00,   4.26541510e+00,   8.48845984e+00,
         -1.85151160e+00,   1.77989205e+00,  -4.34342217e+00,
         -9.77043827e+00,  -4.31013553e+00,   1.00686146e+01,
          4.00653173e+00,  -4.29590113e-01,   1.76211595e+00,
          2.58321454e+01,   1.10953781e+01,   1.02075946e+01,
          9.51215841e+00,   1.54032341e+01,   5.20375011e-01,
          2.62909297e+00,  -7.29693794e+00,   4.86422400e+00,
          2.53473914e+01,  -8.06558664e+00,   6.55838337e+00,
         -3.82327703e+00,   5.99514897e+00,  -4.90860981e-01,
          2.10568035e+00,   1.96135811e+01,   7.53694484e+00],
       [  7.40843404e+00,   1.36441131e+01,   3.01668803e+00,
          6.32154933e+00,  -1.62023340e+00,   8.76929078e+00,
         -7.91621392e+00,   2.23134525e+00,  -4.12410463e+00,
          2.02926867e+01,   9.52931269e+00,  -5.44413676e+00,
          2.10590206e+01,   1.76816830e+01,  -8.80014524e+00,
          2.89214936e-01,   2.04248572e+01,  -1.08585746e+01,
          1.28807038e+01,   1.33319875e+01,   1.20468160e+01,
          7.52113861e-01,   2.02359411e+01,  -5.82524790e+00,
         -1.13299635e+00,   7.72454274e+00,  -5.17915798e+00,
          1.35439697e+01,  -1.03746215e+01,   3.86208407e+00],
       [  1.96013664e+01,  -1.18970332e+01,   2.07446162e+00,
          5.00719168e+00,  -2.69671549e+00,   1.19958605e+01,
         -3.10003732e+00,   5.36682279e+00,  -9.30196407e+00,
         -2.00646644e+01,   2.39084242e+01,   5.51069615e+00,
          1.14876961e+01,   8.64098679e+00,   1.87882368e+01,
          1.20218869e+01,  -1.82465776e+01,  -2.64481370e+00,
          2.00053225e+01,   2.09763976e+01,   4.32590832e+00,
          1.37554772e+01,   8.90263760e+00,   6.03413129e+00,
          1.07841212e+01,   1.76384940e+00,   6.01823017e+00,
         -1.03876218e+00,  -6.96064665e+00,   1.03421930e+01],
       [  8.27312721e+00,  -8.99265608e-01,  -2.28533563e+00,
         -5.70524044e+00,   9.80031575e+00,   1.75166285e+00,
          3.18806927e+00,   1.11257289e+00,   5.34658435e+00,
          2.46388320e+01,   2.01880244e+01,   3.05466677e+01,
          1.39029978e+01,   1.69077752e+01,   1.18945339e+01,
          1.26780690e+01,   2.34320794e+00,   2.94694704e+00,
          2.11288683e+01,  -9.65578404e-01,   1.58176900e+01,
          8.47917955e-01,   1.04538859e+01,   8.08494480e+00,
         -3.81223550e+00,   2.15042977e+00,  -1.92496906e+00,
          4.03476357e-01,   8.13377554e+00,  -8.22659637e+00],
       [  1.04481454e+01,  -5.57053158e+00,  -9.26824682e+00,
          6.33231975e+00,   1.12205213e+01,  -1.16259541e+00,
         -7.62173684e+00,   8.69426465e+00,  -1.49428184e+01,
          1.56007734e-01,   7.66830819e+00,  -3.99587058e+00,
          1.40768081e+01,   1.32608920e+01,   7.37361026e+00,
          2.02194865e+01,   1.01290812e+01,  -1.83219372e+00,
          4.04641410e+00,  -4.25256036e+00,   8.76475237e+00,
          1.23398818e+01,  -2.80151141e+00,   1.21132329e+01,
         -2.86860276e+00,   1.16596891e+01,   1.87651083e+00,
          3.63237984e+00,  -2.05916391e+00,   5.69336010e+00],
       [  7.19082400e+00,  -9.32664982e+00,   8.35090801e+00,
          3.23115126e+00,   1.78425177e+01,   6.53539162e+00,
          6.52614792e+00,   9.80723544e+00,   1.22725081e+01,
          2.20421272e+01,   7.34825846e+00,   6.82826819e+00,
          1.77288722e+00,   2.15561477e+01,   1.10905255e+01,
         -4.07487019e+00,   8.22335278e+00,  -1.31359891e+00,
          1.21401954e+01,   7.26736712e+00,   4.79679848e+00,
          2.48280273e+00,  -2.70771850e+00,   2.92879051e-01,
          1.03761859e+01,   1.15016776e+01,   1.62239800e+01,
          1.05665575e+01,   1.02899716e+00,   1.18397993e+01],
       [ -3.92719511e+00,  -1.02600447e+01,  -5.77168272e+00,
          1.17873659e+01,   3.01536646e+00,   1.80959683e+01,
          1.17048325e+01,   5.56436711e+00,   1.52677370e+01,
          7.99290975e-01,   4.75326885e+00,   6.36858888e+00,
         -6.12198324e+00,   1.10462727e+01,   9.48736138e+00,
         -1.35216729e+01,  -3.70152485e-01,   6.85853294e+00,
          1.97520796e+00,   2.01831946e+01,   8.52556508e+00,
         -5.44021492e+00,  -9.43312926e+00,   3.74787912e+00,
          1.72959015e+01,   7.22709473e+00,  -4.79154163e+00,
          1.10212529e+01,   1.57841754e+01,   1.72966652e+01],
       [  2.59276770e+00,  -1.02152354e+01,   1.93394479e+00,
          1.66318875e+01,   2.21580586e+01,  -7.46648540e-02,
         -9.98910864e+00,   5.23794286e-01,   9.33495525e+00,
          1.66112698e+01,  -5.96458084e+00,  -1.84263573e-01,
         -5.66874075e+00,  -7.29329922e+00,   1.38295974e+01,
          3.66008259e+00,   6.25309211e+00,   9.54967380e+00,
         -1.58692474e+01,  -3.47562792e+00,  -6.11354621e+00,
          1.61175679e+01,   3.77554904e+00,   1.09734575e+01,
         -9.57467563e+00,  -1.27791544e+01,  -5.25664103e+00,
          1.67825791e+01,   4.09230031e+00,   1.58730451e+01],
       [  1.09093716e+01,   9.96966236e+00,  -5.13617254e-01,
         -8.73364688e+00,   5.74684929e+00,   2.14898216e+01,
          3.00495981e+00,   2.08881266e+01,  -2.43101519e+00,
         -3.08136904e+00,   1.59347158e+01,   4.37357277e+00,
          1.20678914e+01,   8.37143035e-01,   1.68190815e+01,
          5.46843075e+00,  -1.46366509e+01,  -2.56151436e+00,
          1.53015049e+01,  -1.69552737e+01,   3.05367322e+00,
          1.88045587e+01,  -9.57422294e+00,   9.76845342e+00,
          5.87464121e+00,   1.36963121e+01,   1.57016935e+01,
          1.06602947e+01,   1.60966942e+01,   1.09645484e+01],
       [ -4.72382700e+00,  -1.97145964e+01,  -1.32884825e+01,
         -1.50912912e+01,   3.30317129e+00,   1.15909791e+01,
          6.37220062e+00,   6.72329936e+00,   4.51556958e+00,
         -1.06103783e+00,   8.19608534e+00,  -5.12342283e+00,
          6.58294276e+00,   6.31516964e+00,   2.18579393e+00,
          3.44078127e+00,   3.72638633e+00,  -1.90428013e+00,
         -3.98849786e+00,  -2.35266965e+00,   8.87799980e+00,
          1.52268120e+01,  -4.89889706e+00,   4.70809581e+00,
          5.95192611e+00,  -1.71711752e+00,   1.23300267e+01,
          1.32336758e+01,   5.33891335e+00,   2.02653021e+00],
       [ -4.07455147e+00,   2.74592500e+00,  -1.50982381e+00,
          8.32977789e+00,  -1.87950514e+00,   1.43894441e+01,
          5.29274890e+00,   1.31228149e+01,   5.00942017e+00,
         -2.31340751e+00,   1.08343870e+01,   1.01664554e+01,
         -1.60970661e+00,   1.11547270e+01,   6.46341452e+00,
         -6.27989453e+00,  -5.67100259e+00,  -1.37819969e+00,
          1.03104637e+01,  -9.46028897e-01,   1.81019455e+01,
          6.75073081e+00,  -1.09034469e+01,   1.46526178e+00,
          2.23608095e+01,  -8.62708889e-01,   1.26877918e+01,
         -1.05237472e+01,   1.29190247e+01,  -6.51370480e+00],
       [  2.83257780e+00,   9.05421974e+00,  -4.11275684e+00,
          1.11110272e+01,   1.32805184e+01,   2.03771594e+00,
          8.98218840e+00,   1.21294736e+01,  -6.91786303e+00,
         -2.36813423e+00,   7.36563273e+00,   1.03779073e+01,
         -6.86284411e+00,   3.08587496e+00,  -4.97033540e-01,
          3.12151751e+00,   1.26696943e+01,  -3.05329663e+00,
          3.42340645e+00,   1.16488270e+01,  -1.61458076e+00,
          1.18107654e+01,   5.99350886e+00,   1.27787896e+01,
         -4.40990138e+00,   3.23825828e+00,  -6.43283215e+00,
          2.25056930e+00,   7.84670010e+00,   1.22997990e+01],
       [  2.89212414e+00,   1.70980344e+01,  -7.03515343e+00,
          1.49497273e+00,  -3.80720949e+00,  -5.63205078e+00,
         -3.09428967e+00,   3.20747043e+01,   1.42430821e+01,
          3.77008936e+00,   3.34101191e+00,   1.29852612e+01,
         -5.82640738e+00,   3.40491159e+00,  -1.34543735e+01,
          3.61925867e+00,   2.62960776e-01,   4.53944742e+00,
          8.90484990e+00,   6.40674554e+00,  -2.00758998e+00,
         -2.28462253e+00,  -3.62889021e+00,   1.82781839e+01,
          1.29452771e+01,   1.03999623e+01,   1.05437445e+01,
          7.95711370e+00,  -6.92291270e+00,  -4.24006190e-01],
       [  8.02439468e+00,   6.07338643e+00,   7.63451562e-01,
         -1.38653483e+01,   1.02543926e+01,   3.10345470e+00,
         -8.46087948e+00,   4.28132003e+00,   3.74200514e+00,
          9.32607309e+00,   2.16248329e+01,   5.30163082e+00,
         -1.00642071e+01,   4.95426581e+00,  -1.66267085e+01,
          6.57184889e+00,   1.12815796e+00,   1.82754514e+01,
          1.36111798e+01,   4.68740494e-01,   8.35564060e+00,
         -2.28035440e+00,   4.99238410e+00,  -8.53772595e+00,
          2.22347268e+01,  -6.61841464e+00,   6.76176951e+00,
          1.75980189e+01,   1.02407349e+01,   2.33449347e+00],
       [  1.45308741e+01,   2.47147936e+00,   6.11367365e+00,
          3.90715855e+01,   1.93405792e+01,   2.71679589e+00,
         -3.66826818e+00,  -1.00987707e+00,   2.49574663e+01,
          1.36668386e+01,  -2.10202540e+00,   5.25978859e+00,
          4.84448362e+00,   2.21563914e+01,   1.09502373e+01,
          9.18229526e+00,   2.38725405e+01,  -1.26298350e+01,
          1.14332232e+01,  -2.78644821e+00,   1.23298438e+01,
         -3.05489570e+00,  -2.18054899e+01,   7.59707357e+00,
          4.31996432e+00,  -2.47171429e+00,  -9.44537264e+00,
         -5.89684701e+00,   4.75572025e+00,   1.19755446e+01],
       [  6.67056976e+00,   9.95958193e+00,   6.55649075e+00,
         -7.99057439e-01,   1.14546839e+01,  -1.09008217e+01,
         -8.83311320e+00,  -4.01768407e+00,   1.63870427e+01,
          1.11444623e+00,   1.65262924e+01,   1.25096339e+01,
          1.45538232e+01,   2.28497505e+00,   1.97231484e+01,
         -2.88438557e-01,  -2.04493206e+00,   2.20049670e+00,
          2.98961975e-01,   2.12013957e+01,   5.78367665e+00,
          7.86261318e+00,   2.33801739e+01,  -8.78965147e+00,
         -1.06851492e+01,   2.92458523e+00,   5.87224865e+00,
          1.66828572e+00,   7.52564755e+00,  -1.89625283e+00],
       [  2.47369646e+00,   1.14103687e+00,  -1.35030184e+00,
          2.01610394e+00,  -1.94611850e+00,  -5.59345034e+00,
         -1.76133565e+00,   6.48827598e+00,  -2.40584938e+00,
          7.79990078e+00,   3.58868783e+00,  -3.10339514e-01,
          1.52114701e+01,   8.84599163e+00,   2.73650237e+01,
         -1.21468817e+01,  -8.32192401e-01,   3.89330619e+00,
          2.73537446e+00,   4.73906935e+00,  -5.28327954e+00,
          1.08618479e+01,   1.24037129e+01,   9.66882461e-01,
          2.54224564e+01,   5.13161244e+00,  -7.04867257e+00,
          1.17551539e+01,   4.47296114e+00,  -9.34662608e+00],
       [  1.81408125e-01,   2.33537367e+01,   2.08768771e+00,
         -4.09554291e+00,  -3.41572086e+00,   1.95484892e+01,
          1.18455958e+01,  -1.40830132e+00,  -4.26408574e-02,
          4.50677347e+00,   1.47760711e+01,   6.55974422e-01,
          1.61725765e+01,   2.30487671e+00,   4.30689216e+00,
          4.66462278e+00,   1.47023942e+01,   9.16876218e+00,
          2.30476081e+00,   1.81064478e+01,   7.71825168e+00,
         -2.26095615e+01,   5.27265537e+00,  -4.76180794e+00,
          1.41350961e+01,  -7.48693698e+00,  -1.68678984e+00,
          8.71334683e+00,   1.19292248e+01,  -3.75692402e+00],
       [  8.32253020e+00,  -5.20693183e+00,  -3.16423404e+00,
          7.82720573e+00,   1.74226485e+01,   9.17247006e+00,
         -2.00220321e+00,   1.17617313e+00,   2.17003785e+01,
         -6.70452964e+00,   4.14127017e+00,   1.86536467e+01,
          9.12234662e+00,  -3.47970380e-01,   7.12508783e+00,
          6.02642901e+00,   1.11294546e+01,   1.17012244e+00,
          6.66294521e+00,  -7.40055062e+00,   3.49898383e+00,
          2.85805152e+00,   7.27077331e+00,   1.01225937e+01,
          7.58445412e+00,   2.30714439e+00,  -1.06364888e+01,
         -9.33410196e+00,   1.52997463e+01,   8.87493266e-01],
       [  4.71802984e+00,  -6.72008626e+00,   2.05826493e+01,
          1.73624255e+01,   9.94455145e+00,   2.30044600e+01,
          2.92238050e+01,  -5.76737281e+00,  -3.69615314e+00,
          1.57034480e+01,  -1.14986326e-01,   1.74690007e+01,
         -6.90248173e+00,   1.46604306e+01,  -5.95564911e+00,
         -7.84313318e+00,   1.63969618e+01,  -1.42350829e+01,
         -5.99828734e+00,   1.06009696e+01,   8.27698879e+00,
          2.76675517e+01,   1.04398521e+01,  -1.98268214e+00,
         -1.36943290e+01,   1.30533722e+01,   1.70119161e+01,
          1.24978191e+01,  -4.65429579e+00,  -1.21856564e+01],
       [ -1.47051163e+01,   8.13062677e+00,   5.81690894e+00,
         -2.34872523e+00,   1.06186112e+00,   4.61296240e+00,
          4.84121878e+00,   1.50842748e+01,   1.27112661e+01,
         -6.13550025e+00,   9.29126180e+00,   8.03637480e+00,
          1.40646408e+01,   2.25194016e+01,  -2.24243374e+00,
          2.81204504e+01,   3.69730451e+00,   9.53525770e+00,
          1.03342181e+01,  -1.16732818e+01,  -1.74387914e+00,
          7.24384060e+00,  -8.61501360e-01,   8.85863156e+00,
          1.21087741e+00,   3.11214913e+01,  -1.04882563e+01,
         -1.53347825e+00,   9.03240644e+00,  -2.03691946e+00]])

In [26]:
print rm.mean(), "which is hopefully close to the input mean"
print rm.var(), "which variance = stdev squared"
print np.median(rm)

4.72380506608 which is hopefully close to the input mean
88.3426559497 which variance = stdev squared
4.64029097466

Find more distributions and random functions here: http://docs.scipy.org/doc/numpy/reference/routines.random.html

###Exercise 1
1) Create a 4x5 array of integers numbering 0 to 19.

In [ ]:
np.arange(20).reshape(4,5)

2) Create a 50x500 array with a mean of 20 and variance of 100. Save it to a variable called  `biggie`

In [1]:
biggie = np.random.normal(20,10,(50,500))
print biggie.shape
print biggie.mean()
print biggie.var()

NameError: name 'np' is not defined

3) Change the mean of the array to a value within 1 of 0 and the variance within 1 of 25. Think about what the mean and the variance represent and try using various mathematical operations.

In [ ]:
morph = (biggie - 20)/2
print morph.mean()
print morph.var()

##Pandas: DataFrames as Bamboo
You've already been exposed to dataframes in the previous labs so lets get into dataframes and how we can work with them.

In [28]:
import pandas as pd

#data = pd.read_csv("../data/titanic.csv")
data = pd.read_csv("../data/titanic.csv")
data.head()
#data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [29]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [43]:
#data[data.Age>65] #declaring a mask
#data[data.Age>65]
data['Test']=data.Age
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Test
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S,22
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,38
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S,26
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,35
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S,35
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,54
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S,27
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C,14
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S,4
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S,58
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S,20
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S,39
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S,14
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S,55
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q,2
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,NaN
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S,31
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,NaN
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S,35
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S,34
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q,15
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S,28
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S,8
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S,38
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,NaN
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S,19
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,NaN
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,NaN,S,21
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S,48
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,NaN,S,24
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S,42
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C,27
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S,31
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,NaN
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S,4
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S,26
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S,47
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S,33
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,NaN,S,47
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C,28
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C,15
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S,20
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S,19
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,NaN
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C,56
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S,25
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S,33
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S,22
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S,28
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S,25
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q,39
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S,27
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S,19
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C,26
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q,32

In [40]:
data[(data.Age==11)&(data.SibSp==5)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
59,60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,46.9,NaN,S

In [ ]:
data[(data.Age==11)|(data.SibSp==5)]

###Cleaning Data

In [ ]:
data.info()

####Working with nulls
Exclude data

In [ ]:
# data[data.Age.isnull()]
data[data.Age.notnull()]

In [ ]:
# You can also just replace the nulls
data.Age[data.Age.isnull()].fillna(0)

In [ ]:
#Replace with the mean to preserve statistical values
avg_age = data.Age[data.Age.notnull()].mean()
print avg_age
data.Age.fillna(avg_age)

####Replace with random normal distribution

In [ ]:
# Get values of mean and standard deviation
data.Age[data.Age.notnull()].describe()

In [ ]:
# Replace null values with 
data.Age.fillna(np.random.normal(29.7,14.5),inplace=True)

In [ ]:
data.Age.fillna(np.random.normal(29.7,14.5)).describe()

###Convert categorical data to numerical

In [ ]:
data.Sex=='female'

In [ ]:
data.rename(columns={'Sex':'Is Female'},inplace=True)
data['Is Female']=data['Is Female']=='female'
data.head()

In [ ]:
# get unique values of Embarked
data.Embarked.unique()

In [ ]:
# replace values with numbers
data.Embarked.replace(['S', 'C', 'Q'],[1,2,3],inplace=True)
data.head()

###Selecting with .loc, .iloc, & .ix

Selecting data in pandas can be tricky. The main takeaway is that .loc looks for index labels, .iloc looks for the integer index position, and .ix can be a mix.

In [ ]:
df = pd.DataFrame(np.random.randn(6,4),index=list('abcdef'),columns=list('ABCD'))
df

In [ ]:
df.loc['f']

In [ ]:
df.iloc[len(df.index)-1]

In [ ]:
df.A.ix['f'] == df.A.ix[-1]

In [ ]:
cc = list('cookies')
cc[-4]

###Group by

In [ ]:
# Find average age of passengers that survived vs. died
data.groupby('Survived')['Age'].mean()

In [ ]:
# Count number of female passengers
data.groupby('Is Female')['PassengerId'].count()

In [ ]:
data.groupby(['Survived','Pclass'])['PassengerId'].count()

###Apply

In [ ]:


# Convert ticket prices to USD
data.Fare.apply(lambda x: x*1.6)

In [ ]:
data.Name

In [ ]:
data.Name.apply(lambda x: x.split(",")[0])

###Concatenate

In [ ]:
data_first_half = data.iloc[0:10,:]
data_first_half.info()

In [ ]:
data_second_half = data.iloc[10:,:]

remake_data = pd.concat([data_first_half,data_second_half])
remake_data.info()

###EXERCISE 2
1) Replace Pclass numbers with 'First Class', 'Second Class', 'Third Class'

2) What was the average ticket price for survivors vs. dead passengers?

###Bonus!!!
Round all ages to the nearest year using `apply`

##Bokeh: Picture Perfect Visuals

To install Bokeh, go to a terminal and type:

`conda install bokeh` 

Bokeh is built by the same people that created Anaconda (Continuum Analytics) and is designed out of the box for web display, making it nice for creating presentation ready, interactive visuals quickly. Labs in this course will be shown in Bokeh. Checkout http://bokeh.pydata.org/en/latest/docs/quickstart.html#concepts to see some of the range of capabilities.

In [ ]:
from bokeh.plotting import figure, output_notebook,show,vplot
output_notebook()

In [ ]:
import pandas.io.data
import datetime
aapl = pd.io.data.get_data_yahoo('FB', 
                                 start=datetime.datetime(2015, 4, 1), 
                                 end=datetime.datetime(2015, 4, 28))

In [ ]:
# prepare some data
x = aapl.Low
y = aapl.High

# create a new plot with a title and axis labels
p = figure(title="Stock High vs. Low", x_axis_label='Low', y_axis_label='High')

# These are glyphs
p.circle(x, y,size=30,alpha=.5,)
p.line(x,x*y.mean()/x.mean())

# show the results
show(p)

At its core, Bokeh is built up with Plots and Glyphs. Plots are created with the figure keyword and then glyphs are visuals that are added to the visualization. The visuals are scalable, interactive and savable. You can even create vectorized colors.

In [ ]:
# prepare some data
N = 4000
x = np.random.random(size=N) * 100
y = np.random.random(size=N) * 100
radii = np.random.random(size=N) * 1.5
colors = ["#%02x%02x%02x" % (r, g, 150) for r, g in zip(np.floor(50+2*x), np.floor(30+2*y))]

TOOLS="resize,crosshair,pan,wheel_zoom,box_zoom,reset,box_select,lasso_select"

# create a new plot with the tools above, and explicit ranges
p = figure(tools=TOOLS, x_range=(0,100), y_range=(0,100))

# add a circle renderer with vecorized colors and sizes
p.circle(x,y, radius=radii, fill_color=colors, fill_alpha=0.6, line_color=None)

# show the results
show(p)

In [ ]:
p1 = figure(title="Titanic Ages Dead",x_axis_label = 'Age',y_axis_label = 'Count')
#construct the histogram
hist, edges = np.histogram(data.Age[data.Survived==0].values, density=True, bins=50)
#Construct your x axis
x = np.linspace(data.Age.min(),data.Age.max(),100)
#add the bars, scaling the value to the full count of people
p1.quad(top=hist*len(data.Age), bottom=0, left=edges[:-1], right=edges[1:],line_color='black')

p2 = figure(title="Titanic Ages Survived",x_axis_label = 'Age',y_axis_label = 'Count')

hist, edges = np.histogram(data.Age[data.Survived==1].values, density=True, bins=50)
x = np.linspace(data.Age.min(),data.Age.max(),100)
p2.quad(top=hist*len(data.Age), bottom=0, left=edges[:-1], right=edges[1:],line_color='black')


show(vplot(p1,p2))